@use "./variables" as v;

.alert {
    padding: 1rem 0.5rem;
    background-color: grey;
    margin: 0.5rem 0;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1.25rem;
    font-weight: 600;

    &--primary {
        background-color: v.$primary;
        color: white;
    }

    &--success {
        background-color: v.$success;
        color: white;
    }

}