$primary: blue;
$secondary: grey;
$success: rgb(35, 168, 35);
$warning: yellow;
$danger: red;
$info: lightblue;


$color-facebook: #1877F2;
$color-x: #14171A;
$color-linkedin: #0A66C2;

// NAV
$nav-bg-color: #111827;          // fondo barra
$nav-text-color: #e5e7eb;        // texto normal
$nav-text-hover-color: #ffffff;  // texto hover
$nav-active-color: #3b82f6;      // subrayado / estado activo
$nav-padding-y: 0.75rem;
$nav-padding-x: 1rem;
$nav-gap: 1.5rem;
$nav-font-size: 0.95rem;

